/* 반응형 */
@media (max-width: 873px) {
    .container{
        margin: 120px auto 0 auto;
    }

    .login-left{
        display: none;
    }

    .login-right{
        width: 350px;
        margin: auto;
    }

    body{
        background-color: #fafafa;
    }

    .footer{
        font-size: 10px;
        margin-top: 140px;
        text-align: center;
    }
}

@media (min-width: 874px) {
    body{
        background-color: #fafafa;
    }

    .container {
        display: grid;
        margin: 120px auto 0 auto;
        row-gap: 8em;
    }

    .main {
        display: grid;
        grid-template-columns: 300px 350px;
        column-gap: 2em;
        margin: auto;
    }

    .instagram-img {
        width: 300px;
        height: 500px;
        margin: auto;
    }

    .footer {
        grid-column: 1;
        display: grid;
        font-size: 12px;
        margin: auto;
    }

    .info-bottom{
        margin-left: 80px;
    }
}
  
a:link,
a:visited,
a:hover {
    color: #a09f9f;
    text-decoration: none;
}

button{
    border: 0;
    outline: 0;
}

p{
    text-align: center;
}

.login-img{
    width: 200px;
    height: 60px;
    place-self: center;
}

.login-form{
    border: 1px solid #dbdbdb;
    display: grid;
    grid-template-rows: 80px 140px 60px 120px;
    background-color: white;
}

.form-group{
    width: 270px;
    margin: auto;
}

.bmd-form-group{
    margin-top: 5px;
}

.login-form button{
    background-color: #0095f6;
    width: 270px;
    padding: 5px;
    color: white;
    margin: 12px 40px 10px 40px;
}

.line{
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    color: gray;
}

.line:after{
    display: inline-block;
    margin: 0 0 3px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #999999;
    width: 30%;
}

.line:before{
    display: inline-block;
    margin: 0 20px 3px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #999999;
    width: 30%;
}

.dif-login a{
    color: #385185;
}

.pw{
    font-size: 12px;
}

.sign-up{
    border: 1px solid #dbdbdb;
    height: 50px;
    margin: 10px 0 15px 0;
    padding-top: 13px;
    font-size: 14px;
    background-color: white;
}

.sign-up .short-cut{
    color: #0095f6;
}

.download{
    font-size: 14px;
    height: 100px;
    margin-left: 50px;
    grid-template-columns: 120px 120px;
    column-gap: 0.5em;
    display: grid;
}

.download-alarm{
    grid-column: 1/3;
}

.app-store, .google-play{
    margin-top: -20px;
    width: 120px;
}

.setting{
    margin-top: 20px;
    text-align: center;
}

.setting select{
    border: 0;
    outline: 0;
    background-color: #fafafa;
    color: gray;
}

.setting span, .info span{
    color: gray;
}