a:link,
a:visited,
a:hover {
    color: #a09f9f;
    text-decoration: none;
}

button{
    border: 0;
    outline: 0;
}

.container {
    display: grid;
}

.item:nth-child(1) {
    grid-column: 1/4;
    display: grid;
}

.item:nth-child(2) {
    grid-column: 1/3;
}

.item:nth-child(3) {
    grid-column: 3;
    grid-rows: 2/4;
}

.item:nth-child(4) {
    grid-column: 1/4;
}

.header{
    display: grid;
}

.shortcut{
    justify-self: end;
}

.search-area {
    display: grid;
    grid-template-columns: 200px 600px;
    margin: 30px 0 40px 50px;
}

.naver-logo {
    width: 180px;
}

.search-bar {
    width: 500px;
    height: 45px;
    border: 2px solid #2DB400;
    margin-top: 10px;
}

.search-btn {
    width: 50px;
    height: 45px;
    background-image: url("img/search.png");
    background-position: center;
    background-size: cover;
}

.plus-table {
    width: 500px;
}

input:focus {
    outline: none;
}

.menu-bar {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.rank {
    overflow: hidden;
    padding: 17px 0 0 0;
    width: 200px;
    height: 80px;
}

.rank-list dt {
    display: none;
}

.rank-list dd {
    position: relative;
    margin: 0;
}

.rank-list ol {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    list-style-type: none;
}

.rank-list li {
    height: 80px;
}